.row>* {
   width: 20px;
   height: 20px;
   margin: 6px 10px;
   background-color: grey;
   color: rgb(0, 255, 68);
   padding: 3px;
   font-size: 8px;
   border-radius: 10px;
}

#game-board>* {
   display: flex;
   align-content: center;
   justify-content: center;
}

.occupied {
   background-color: black;
}

.opponent {
   background-color: red;
}
