.row>* {
   width: 30px;
   height: 30px;
   margin: 6px 10px;
   background-color: rgb(201, 201, 201);
   color: rgb(0, 0, 0);
   padding: 0px;
   font-size: 10px;
   border-radius: 20px;
   font-weight: 800;
}

.game-board>* {
   display: flex;
   align-content: center;
   justify-content: center;
}

.p0 {
   background-color: aqua;
}

.p1 {
   background-color: rgb(23, 220, 65);
}

.p2 {
   background-color: rgb(255, 128, 236);
}

.p3 {
   background-color: rgb(255, 77, 0);
}

.p4 {
   background-color: rgb(255, 175, 100);
}

.p5 {
   background-color: rgb(255, 255, 106);
}
